<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Gestion Club Solis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (Session["Logueado"] == null || (bool)Session["Logueado"] == false)
                    {
                        <li style="color: white; text-align:center;">@Html.ActionLink("Iniciar Sesion", "Index", "Login")</li>
                    }
                    <li>@Html.ActionLink("Importar", "ImportarDatos", "Import")</li>
                    @if (Session["Logueado"] != null && (bool)Session["Logueado"] == true)
                    {
                        <li>@Html.ActionLink("Registro de Usuario", "RegistrarUsuario", "Usuario")</li>
                        <li>@Html.ActionLink("Registro de Socio", "Create", "Socio")</li>
                        <li>@Html.ActionLink("Listar Socios", "Index", "Socio")</li>
                        <li>@Html.ActionLink("Baja de Socio", "Delete", "Socio")</li>
                        <li>@Html.ActionLink("Buscar por cedula", "BuscarPorCedula", "Socio")</li>
                        <li>@Html.ActionLink("Buscar Membresias", "GetByMonthYear", "Membresia")</li>
                        <li>@Html.ActionLink("Buscar Actividad", "GetBy", "Actividad")</li>

                        <li>@Html.ActionLink("Cerrar Sesion", "Logout", "Login")</li>

                        <li><a>@Session["LogueadoMail"]</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
       <hr style="padding-top:20px" />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gestion Club Solis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
