@model Dominio.Socio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Para dar de baja un usuario introduzca su cedula</h3>
<div>
    <h4>Socio</h4>
    <hr />
    <form action="~/Socio/DeleteDetalle" method="post">
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                <input type="number" name="cedula" />
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Detalle" />                 
            </div>
        }
    </form>
</div>

@if(ViewBag.error == "")
            {
                <p>@ViewBag.error</p>
            }


@if (Model != null) { 
<h2>Details</h2>

<div>
    <h4>Socio</h4>
    <hr />
    <form action="~/Socio/DeleteDetalleInactivar" method="post">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdSocio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IdSocio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreApellido)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreApellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaIngreso)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaIngreso)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>
        </dl>
        <input type="hidden" value="@Model.IdSocio" name="idSocio">
        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" /> |
            @Html.ActionLink("Atras", "Delete")
        </div>
    </form>
</div>
}
