

<div>
    <h4>Buscar Membresias</h4>
    <hr />
    <form action="~/Membresia/GetByMonthYear" method="post">
        <dl class="dl-horizontal">

            <dt>
                Mes
            </dt>

            <dd>
                <input type="number" name="month" />
            </dd>

            <dt>
                Año
            </dt>

            <dd>
                <input type="number" name="year" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Detalle" />
            </div>
        }
    </form>
</div>
<br />


<!--
<p>
    Tipo de pase (libre o cuponera)
    Fecha de pago
    Monto pagado
    Monto de descuento aplicado.
    Cédula y nombre del socio que la adquirió.
</p>
    -->

@*@if (ViewBag.lista != null)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            @foreach (var membresia in ViewBag.lista)
            {


                <p><strong>Tipo de Membresia</strong> @membresia.TipoMembresia</p>
                <p><strong>Fecha de Pago</strong> @membresia.FechaPago</p>
                <p><strong>Precio</strong> $@membresia.Precio</p>
                foreach (var socio in membresia.Socios)
                {
                    <p><strong>Cedula</strong> @socio.Cedula</p>
                    <p><strong>Socio</strong> @socio.NombreApellido</p>
                }
                <hr />
            }
        </div>
    </div>
}*@


@if (ViewBag.lista != null)
{
    <table class="table">
        <tr>
            <th>
                Tipo de Membresia
            </th>
            <th>
                Fecha de Pago
            </th>
            <th>
                Precio
            </th>
            <th>
                Socios
            </th>
        </tr>

        @foreach (var membresia in ViewBag.lista)
        {
            <tr>
                <td>
                    @membresia.TipoMembresia
                </td>
                <td>
                    @membresia.FechaPago
                </td>
                <td>
                    $@membresia.Precio
                </td>
                <td>
                    @foreach (var socio in membresia.Socios)
                    {
                        <p><strong>Cedula</strong> @socio.Cedula</p>
                        <p><strong>Socio</strong> @socio.NombreApellido</p>
                    }
                </td>
            </tr>
        }

    </table>

}