@model IEnumerable<Dominio.Actividad>

@{
    ViewBag.Title = "GetByName";
}

<h2>GetByName</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cupos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdadMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EdadMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cupos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadMinima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EdadMaxima)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    }

</table>
